@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

.font-space {
  font-family: "Space Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
}



:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@theme {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  --animate-marquee: marquee 25s linear infinite;
  --color-primary: #2bcdee;
  --color-accent-yellow: #FFD93D;

  --color-neo-terracotta: #E76F51;
  --color-neo-emerald: #2A9D8F;
  --color-neo-lightblue: #90E0EF;
  --color-neo-mint: #98FF98;
  --color-neo-cobalt: #4D4DFF;
  --color-background-light: #fdfcf8;
  --color-background-dark: #101f22;
  --color-neo-black: #1a1a1a;

  --font-display: "Plus Jakarta Sans",
  sans-serif;

  --radius-none: 0px;
  --radius-sm: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --shadow-neo: 4px 4px 0px 0px #1a1a1a;
  --shadow-neo-primary: 4px 4px 0px 0px #2bcdee;
  --shadow-neo-yellow: 4px 4px 0px 0px #FFD93D;
  --shadow-neo-hover: 2px 2px 0px 0px #1a1a1a;
}

@keyframes ping-slow {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    transform: scale(1.3);
    /* ukuran ping */
    opacity: 0.6;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.ping-slow {
  animation: ping-slow 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}


.neo-border {
  border: 2px solid #1a1a1a;
}

.neo-button-shadow {
  box-shadow: 4px 4px 0px 0px #1a1a1a;
  transition: all 0.1s ease;
}

.neo-card-shadow {
  box-shadow: 6px 6px 0px 0px #1a1a1a;
}

.neo-button-shadow:active {
  box-shadow: 0px 0px 0px 0px #1a1a1a;
  transform: translate(4px, 4px);
}

.bg-grid-fade {
  position: relative;
  background-color: var(--color-background-light);
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 32px 32px;
  overflow: hidden;
}

.bg-grid-fade::before,
.bg-grid-fade::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
  z-index: 1;
}

.bg-grid-fade::before {
  top: 0;
  background: linear-gradient(to bottom,
      #fdfcf8,
      rgba(255, 255, 255, 0));
}

.highlighter {
  box-shadow: inset 0 -0.5em 0 0 rgba(255, 222, 0, 0.7);
}

/* .bg-grid-fade::after {
  bottom: 0;
  background: linear-gradient(to top,
      #fdfcf8,
      rgba(255, 255, 255, 0));
} */